<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <%- include("../errors/errors.ejs") %>
        <form action="/sign-up" method="POST">
            <label for="firstName">First Name: </label>
            <input id="firstName" name="firstName" placeholder="First Name" type="text" />
            
            <label for="lastName">Last Name: </label>
            <input id="lastName" name="lastName" placeholder="Last Name" type="text" />

            <label for="username">Username: </label>
            <input id="username" name="username" placeholder="User Name" type="text" />
            
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />

            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" />

            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>